################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sws/.vs/sws
/sws/bin/Debug/net8.0
/sws/obj
/sws/.vs/ProjectEvaluation
/sws/databaseUpdate.PS1
/SWKOM.test/bin/Debug/net8.0
/SWKOM.test/obj
/SWKOM.test/bin/Release/net8.0
/sws/bin/Release/net8.0
/sws/out
/OCRworker/bin/Debug/net7.0
/OCRworker/docs
/OCRworker/obj
/SWKOM.test/.vs/SWKOM.test/v17
/SWKOM.test/.vs/SWKOM.test/FileContentIndex
/SWKOM.test/.vs/SWKOM.test/DesignTimeBuild
/SWKOM.test/.vs/ProjectEvaluation
/SWKOM.test/TestResults
/SWKOM.tests.net7/bin
/SWKOM.tests.net7/obj
/SWKOM.test/coverage-report/class.js
/SWKOM.test/coverage-report/icon_cube.svg
/SWKOM.test/coverage-report/icon_fork.svg
/SWKOM.test/coverage-report/icon_info-circled.svg
/SWKOM.test/coverage-report/icon_info-circled_dark.svg
/SWKOM.test/coverage-report/icon_minus.svg
/SWKOM.test/coverage-report/icon_plus.svg
/SWKOM.test/coverage-report/icon_search-minus.svg
/SWKOM.test/coverage-report/icon_search-plus.svg
/SWKOM.test/coverage-report/icon_sponsor.svg
/SWKOM.test/coverage-report/icon_star.svg
/SWKOM.test/coverage-report/icon_star_dark.svg
/SWKOM.test/coverage-report/icon_up-dir.svg
/SWKOM.test/coverage-report/icon_up-dir_active.svg
/SWKOM.test/coverage-report/icon_up-down-dir.svg
/SWKOM.test/coverage-report/icon_up-down-dir_dark.svg
/SWKOM.test/coverage-report/icon_wrench.svg
/SWKOM.test/coverage-report/index.htm
/SWKOM.test/coverage-report/index.html
/SWKOM.test/coverage-report/main.js
/SWKOM.test/coverage-report/OCRworker_ElasticsearchRepository.html
/SWKOM.test/coverage-report/OCRworker_MinioRepository.html
/SWKOM.test/coverage-report/OCRworker_OcrClient.html
/SWKOM.test/coverage-report/OCRworker_OcrOptions.html
/SWKOM.test/coverage-report/OCRworker_RabbitMQRepository.html
/SWKOM.test/coverage-report/report.css
/SWKOM.test/coverage-report/sws_DocumentLogic.html
/SWKOM.test/coverage-report
